.logo{
    position: absolute;
    left: 20px;
}

@media only screen and (max-width: 991px){
    .logo {
        position: absolute;
        left: 60px;
    }
}

.dataTables_paginate.paging_simple_numbers{
    text-align: right;
}

#mandarin2-export-workflow-form .select2.select2-container{
    width: 100% !important;
    height: 30px !important;
}

.contract-block-wrapper {
    margin-bottom: 23px;
}

.document-wrapper .title-table {
    font-size: 16px;
    float: left;
    margin-top: 8px;
    cursor: pointer;
    width: 70%;
}

.document-wrapper .actions {
    float: right;
}

.document-wrapper .actions div.edit, .document-wrapper .actions div.delete {
    font-size: 20px;
    cursor: pointer;
}

.document-wrapper .actions div {
    float: left;
    margin-right: 10px;
}

.document-wrapper .actions .checked-document-list a {
    font-size: 12px;
    display: block;
    cursor: pointer;
    margin-top: 5px;
}

.checked-document-list a span {
    vertical-align: middle;
    padding-top: 4px;
    display: block;
    float: left;
}

.document-wrapper .spliter {
    clear: both;
    border-bottom: 2px solid;
    margin-bottom: 10px;
}

.document-wrapper i,
.document-wrapper a{
    color: #333;
}

.document-wrapper i{
    font-size: 15px;
}

.body-document {
    margin-top: 26px;
}

.document-wrapper .body-document .item {
    /*margin-bottom: 10px;*/
}

.document-wrapper .body-document .item .title {
    font-size: 12px;
    width: 170px;
    display: block;
    float: left;
}

.document-wrapper .body-document .item .value {
    font-size: 12px;
    padding-bottom: 10px;
    display: block;
    margin-left: 170px;
}

.title-document {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 12px;
}

.documents table, .contracts table, .services table {
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
}

.document-wrapper .documents table th {
    text-align: left;
    border: 0;
    padding-left: 0;
}

.document-wrapper .documents table tr td {
    padding-left: 0;
    text-align: left;
    vertical-align: top;
}

.checked-document-list .fa-angle-up,
.checked-document-list .fa-angle-down{
    font-size: 15px;
    padding-top: 6px;
    padding-left: 4px;
}

.submenu i{
    color: #b7c0cd;
}

.table-responsive table td{
    white-space: normal !important;
}

.status{
    border: 1px solid #ffbc34;
    color: #ffbc34;
    background-color: #fff;
    display: inline-block;
    min-width: 80px;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

@media screen and (max-width: 767px){
    div.table-responsive {
        margin-bottom: 0;
        border: none;
    }
}

a i{
    color: #333;
}

#mobile_btn i,
.user-link i{
    color: #fff;
}

@media screen and (max-width: 767px) {
    .content.container-fluid {
        padding: 10px 0;
    }
}

table .files{
    word-break: break-word;
}

.col-md-6{
    padding-left: 0px;
    padding-right: 15px;
}

.rowDashboard .col-md-6:nth-child(2){
    padding-right: 0;
}

.rowDashboard{
    max-width: 100%;
}

.dashboard-block{
    width: 50%;
    padding-right: 10px;
    height: auto;
    float: left;
}

.dashboard-block:nth-child(2n){
    padding-right: 0px;
}

.rowDashboard .panel{
    margin-bottom: 10px;
}