{% extends "@Admin/layout.html.twig" %}

 {% block js %}
     <script src={{ asset('assets/plugins/masonry/masonry.pkgd.min.js') }}></script>
     <script src={{ asset('assets/js/dashboard/dashboard.js') }}></script>
 {% endblock %}

{% block content %}
    <div class="rowDashboard">
        <div class="dashboard-block">
            {% include '@Admin/DashBoard/documentInProgress.thml.twig'  %}
        </div>
        <div class="dashboard-block">
            {% include '@Admin/DashBoard/client.html.twig' %}
        </div>

        <div class="dashboard-block">
            {% include '@Admin/DashBoard/projects.html.twig' %}
        </div>

        <div class="dashboard-block binbank">
            {% include '@Admin/DashBoard/binbank.html.twig' %}
        </div>
    </div>
{% endblock %}

